.tbl-content {
  height: 450px;
  overflow: auto;
}
.tbl-searchbar , .account-search{
  text-align: center;
  padding: 10px;
}
.tbl-searchbar input, .tbl-searchbar select , #account-filter select{
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  height: 30px;
  outline:none;
}
.table {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #fff;
}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #ddd;
}
th{
  padding: 20px 15px;
  text-align: left;
  color: #fff;
  text-shadow: 0 0 5px #000;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
}
tr:nth-child(even){
  background-color: #f2f2f2;
}