/*Global*/
.close{
        font-size:3em;
        color:#fff;
        position:absolute;
        top:10px;
        right:50px;
        cursor:pointer;
}
.close:hover{
        color:#ff5959;
}
.sign-box{
    box-sizing:border-box;
}
/*Sign up form*/
.sign-box input[type="text"] ,.sign-box input[type="password"], .sign-box input[type="email"]{
        width:100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
} 
.sign-box input[type="text"]:focus ,.sign-box input[type="password"]:focus , .sign-box input[type="email"]:focus{
        background:#ddd;
        outline:none;
}
.name-inp{
    width:48%;
    float:left;
    margin:0 5px;
}
.clearfix:after{
        content: "";
        clear:both;
        display:table;
}
.sign-box{
        display: none;
        position:fixed;
        width:100%;
        height:100%;
        background-color: rgb(0,0,0); 
        background: rgba(0,0,0,0.7);
        z-index:3;
        left:0;
        top:0;
        padding-top:50px;
        overflow:auto;
        text-align: left;
}
.sign-box hr{
        border:2px solid #f1f1f1;
}
.sign-box form{
    padding:1.2em;
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    width: 70%;
}
.cancel-btn{
    background-color: #ff5959;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    width:50%;
    float:left;
}
input[name="sign-in-submit"], input[name="sign-up-submit"]{
    background-color: #00336f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    float:left;
    opacity: 0.9;
}
input[name="sign-up-submit"]:hover, .cancel-btn:hover{
    opacity:1;
}
.zoom{
   -webkit-animation-name:zoom;
    -webkit-animation-duration: 0.5s;
    -moz-animation-name:zoom;
    -moz-animation-duration: 0.5s;
    animation-name:zoom;
    animation-duration: 0.5s;
}
@-webkit-keyframes zoom{
    from{transform:scale(0,0);}
    to{transfrom:scale(1,1);}
}
@-moz-keyframes zoom{
    from{transform:scale(0,0);}
    to{transfrom:scale(1,1);}
}
@keyframes zoom{
    from{transform:scale(0,0);}
    to{transfrom:scale(1,1);}
}
