/**Global**/
*{
    box-sizing:border-box;
}
html,body{
    margin:0;
    padding:0;
    line-height: 1.5;
    font-family: sans-serif;
    /*#144955*/
    /*#CF3826*/
}
.icon{
    margin-right:5px;
}
.highlight{
    color:#ff5959;
}
/**Header**/
#header-id{
    padding:0 1em;
    width:100%;
    background:#eaeaea;
}
/*extension bar*/
.extension-bar{
    display:grid;
    grid-template-columns:2fr 2fr 6fr;
    transform:translate(0,-10px);
}
.header-contact ul{
    list-style-type:none;
    padding:4px 8px;
    text-align: center;
    border-radius:20px;
    transform:translate(0,-3px);
}
.header-contact li{
    display:inline-block;
    padding:0 1em;
}
.phone-number{
    justify-self:end;
}
.core-list ul{
    list-style-type:none;
    text-align:right;
}
.core-list li{
    display:inline-block;
    padding:0 10px;
}
.core-list li i{
    margin-right:5px;
}
/*Search zone*/
.search-zone{
    display:grid;
    grid-template-columns:1fr 4fr 1fr;
    align-items:center;
}
.web-logo{
    padding:1em;
}
.web-logo img{
    width:200px;
    height:50px;
}
.search-box{
    padding:0 1em;
}
.search-box select{
    padding:9px;
    border:none;
    border-radius:25px 0 0 25px;
    font-size:17px;
    float:left;
    background:#fff;
    border-right:1px solid #CBCACA;
    box-shadow:2px 3px 6px rgba(0,0,0,0.12);
    outline:none;
}
.search-box input[type="text"]{
    width:60%;
    padding:9.5px 30px 9.5px 16px;
    border:none;
    font-size:17px;
    float:left;
    outline:none;
    box-shadow:2px 3px 6px rgba(0,0,0,0.12);
}
.btn-1{
    background:#ff5959;
    color:#fff;
    text-shadow:1px 1px 3px rgba(0,0,0,0.36);
    border:none;
    float:left;
    outline:none;
    transition:0.4s;
    padding:9.5px 8px;
    width:18%;
    border-radius:25px;
    font-size:17px;
    transform:translate(-20px,0);
    box-shadow:2px 3px 6px rgba(0,0,0,0.36);
}
.btn-1 span{
    cursor:pointer;
    display:inline-block;
    position:relative;
    transition:0.4s;
}
.btn-1 span::after{
    content: "\00bb";
    position:absolute;
    right:-20px;
    transition:0.4s;
    opacity:0;
}

.btn-1:hover span{
    padding-right:20px;
}
.btn-1:hover span::after{
    opacity:1;
    right:0;
}
/*Shopping cart*/
.user-cart{
    font-weight:bold;
}
.cart-icon{
    padding:15px;
    border-radius:50%;
    background-color:#ff5959;
    color:#fff;
    box-shadow:2px 3px 6px rgba(0,0,0,0.36);
    margin-right:5px;
    transition:0.3s;
}
.cart-icon:hover{
    transform:rotate(-360deg);
    background:#fff;
    color:#ff5959;
}
/**Navigation bar**/
#nav-id{
    display:grid;
    grid-template-columns:1.1fr 4fr 1fr;
    align-items:center;
    background:#00336f;
    color:#fff;    
}
.today-hot-deal{
    text-align:center;
    padding:0.5em;
    margin:5px;
    color:#ff5959;
    cursor:pointer;
    background:#fff;
    border-radius:25px;
    text-transform:uppercase;
    font-weight:bold;
    transition:0.4s;
    box-shadow:2px 3px 6px rgba(0,0,0,0.38);
}
.today-hot-deal:hover{
    background:#ff5959;
    color:#fff;
}
.navigation-bar{
    padding:1em;
    justify-self:center;
}
.navigation-bar ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.navigation-bar li{
    display:inline-block;
    padding:0 1.4em;
    cursor:pointer;
}
.hot-deal{
    justify-self:end;
    margin-right:5px;
}
/**Main section***/
/*Section 1*/
.slideshow{
    position:relative;
}
.slide img{
    width:100%;
    max-height:500px;
    object-fit: cover;
}
/*left & right arrow*/
.pre-btn, .next-btn{
    position:absolute;
    color:#fff;
    font-size:2em;
    top:40%;
    margin:15px;
    padding:0.2em 0.4em;
    background:rgba(0,0,0,0.56);
    cursor:pointer;
    transition:.2s;
    border-radius:5px;
}
.pre-btn:hover, .next-btn:hover{
    background:rgba(255,255,255,0.56);
    color:black;
}
.next-btn{
    right:0;
}
/*dot unit*/
.dot-unit{
    text-align:center;
    cursor:pointer;
}
.dot{
    width:15px;
    height:15px;
    border:1px solid black;
    display:inline-block;
    border-radius:50%;
    margin:5px;
    transition:.4s;
}
.dot:hover{
    border:1px solid #ff5959;
}
/*faded effect*/
.faded{
    -webkit-animation-name:faded;
    -webkit-animation-duration: 1.5s;
    -moz-animation-name:faded;
    -moz-animation-duration: 1.5s;
    animation-name:faded;
    animation-duration: 1.5s;
}
@-webkit-keyframes faded{
    from{opacity:.4}
    to{opacity:1}
}
@-moz-keyframes faded{
    from{opacity:.4}
    to{opacity:1}
}
@keyframes faded{
    from{opacity:.4}
    to{opacity:1}
}

/*section 2*/
#best-seller{
    background:#eaeaea;
    padding:1em;
}
.news-title{
    font-size:1.3em;
    font-family:cursive;
}
.product-list{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.product-news .news-title{
    text-align:center;
    font-size:2.4em;
}
.product-box{
    margin:5px;
    position:relative;
    padding-bottom:1em;
}
.product-box img{
    width:100%;
    height:200px;
    border-radius:5px;
    border:1px solid #C3C3C3;

}
.prod-des-btn{
    position: absolute;
    bottom:11px;
    left:38%;
    background:#fff;
    border:none;
    outline:none;
    border-radius:25px;
    padding:8px 12px;
    border:1px solid #c3c3c3;
}
.add-cart{
    position:absolute;
    border:none;
    outline:none;
    background:#fff;
    border-radius:50%;
    padding:6px 8px;
    right:5px;
    top:5px;
    color:#fff;
    background:#ff5959;
    transition:0.4s;
    border:1px solid #ff5959;
}
.add-cart:hover{
    background:#fff;
    color:#ff5959;
}
